.App {
  text-align: center;
  font-family: 'Roboto', sans-serif;
  background: linear-gradient(to bottom, #f6d1a1 0%, #de9c8e 50%, #605880 100%);
  margin: 0px;
  padding: 70px 0;
}

h1.app-title {
  font-size: 50px;
  font-weight: 400;
  margin: 0px;
  margin-bottom: 20px;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.btn {
  padding: 10px 30px;
  border-radius: 10px;
  border: none;
  font-size: 15px;
  cursor: pointer;
}

.btn.add-form__btn {
  background-color: #fdebd8;
  margin-bottom: 30px;
  width: 300px;
  font-size: 18px;
  padding-top: 15px;
}
